<div class="container">
    <form>

      <h1> Para efetuar a edição preencha os campos abaixo corretamente: </h1>



      <div class="form-group">
        <label for="exampleInputEmail1">Digite seu Nome:</label>
        <input type="name" class="form-control" placeholder="Enter name">
        <small id="name" class="form-text text-muted">Deve ser um nome válido</small>
      </div>


      <div class="form-group">
        <label for="exampleInputEmail1">Digite seu Email:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">Deve ser um endereço de email válido </small>
      </div>


      <div class="form-group">
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
        <div id="passwordHelpBlock" class="form-text">
          Sua senha deve ter de 8 a 20 caracteres, conter letras e números e não deve conter espaços, caracteres
          especiais ou emoji.
        </div>
      </div>


      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="button" class="btn btn-dark">Enviar</button>
    </form>

  </div>