<table class="table caption-top">
    
  <caption class="text-center">LISTA DE CLIENTES</caption>
  
   <thead class="table-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">NOME</th>
      <th scope="col">EMAIL</th>
      <th scope="col">AÇÕES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    
      <td>
           <button type="button" class="btn btn-success">Enviar</button>
           <button type="button" class="btn btn-danger">Limpar</button>
      </td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
     
      <td>
           <button type="button" class="btn btn-success">Enviar</button>
           <button type="button" class="btn btn-danger">Limpar</button>
      </td>


    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
     
      <td>
           <button type="button" class="btn btn-success">Enviar</button>
           <button type="button" class="btn btn-danger">Limpar</button>
      </td>



    </tr>
  </tbody>
</table>