<div class="container">


    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Olá, cliente!</h1>
          <p>É um prazer enorme ter sua visita em nosso site oficial da <b>ALBUQUERQUE COMPANY</b> por aqui pode acompanhar tudo que está ocorrendo na empresa e solicitar serviços diversos.</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais</a>
          <hr>
        </div>
      </div>

      <div class="container">
        <!-- Exemplo de linha de colunas -->
        <div class="row">
          <div class="col-md-4">
            <h2>COMO SOLICITAR UM SERVIÇO</h2>
            <p>Para solicitar o serviço da <b>ALBUQUEQUE COMPANY</b> basta enviar um e-mail para a empresa,  clicle no botão abaixo : </p>
            <p><a class="btn btn-secondary" href="#" role="button">Solicitar serviço</a></p>
          </div>
          <div class="col-md-4">
            <h2>VALORES</h2>
            <p>Os valores dos serviços prestados são baseados em uma tabela estabelecido pela empresa no ano de 2027 e aprovado pelo conselho superior da empresa.</p>
            <p><a class="btn btn-secondary" href="#" role="button">Ver Tabela</a></p>
          </div>
          <div class="col-md-4">
            <h2>QUEM SOMOS ?</h2>
            <p>A empresa surgiu nos meados de 2025 criada pelo seu ceo Rafael Albuquerque, após dois anos a empresa foi expandindo-se e alcançando novas áreas de desenvolvimento como a tecnologia e o agronegócio.</p>
          </div>
        </div>

        <hr>

      </div>
<footer>
    <center> <H1>ALB COMPANY</H1></center>
</footer>
  </div>

